[Desktop Entry]
Version=1.0
Name=Secondhand Mac Utilites
Comment=Utilities and support for Secondhand Mac Ubuntu installations
Exec=bash /opt/secondhand-mac/desktop.sh
Path=/opt/secondhand-mac/
Icon=/opt/secondhand-mac/icons/drive-removable-media-usb-pendrive.png
Terminal=true
Type=Application
Categories=Utility